@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: aqua;
}

.container{
  width: 75%;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 25;
 padding: 40;
}



@media (max-width: 786px)  {
  .container{
    width: 100%;
    margin-top: 0;
    padding: 20;
    padding-top: 0;
    
  }
  
}